<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.raffelberg.cr_ticker">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/cr_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/cr_logo_round"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.raffelberg.cr_ticker.activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.raffelberg.cr_ticker.activities.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.raffelberg.cr_ticker.activities.LogInActivity"
            android:parentActivityName="com.raffelberg.cr_ticker.activities.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.raffelberg.cr_ticker.activities.manageMatchActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:parentActivityName="com.raffelberg.cr_ticker.activities.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.raffelberg.cr_ticker.activities.AddMatchActivity"
            android:parentActivityName="com.raffelberg.cr_ticker.activities.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.raffelberg.cr_ticker.activities.TickerLog"
            android:screenOrientation="portrait"/>
        <activity android:name="com.raffelberg.cr_ticker.activities.MainActivity"
            android:theme="@style/AppThemeMain"
            android:launchMode="singleTop">
            android:screenOrientation="portrait"
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.raffelberg.cr_ticker.messaging.CR_Ticker_FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>